*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: rgb(0, 0, 30);
}

input, button, textarea, select {
    font: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

:root {
    --padding: clamp(8px, 1rem, 24px);
    --background-color: rgb(210, 235, 232);
}

  body {
    display: flex;
}

#sidePanel {
    width: 40%;
    height: 100vh;

    position: relative;

    background-image: url(./images/sidePanelBoat.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sidePanel::after {
    content: "Photo by Mudassir Ali";
    color: white;
    position: absolute;
    padding: var(--padding);
    bottom: 0;
    right: 0;
}

#main {
    --section-padding: var(--padding) var(--padding) var(--padding) calc(4 * var(--padding));

    width: 100%;
    background-color: var(--background-color);
}

#formDescription {
    height: 200px;
    padding: var(--section-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#formDescription > h1 {
    font-size: 3rem;
}

#formDescription > p {
    font-size: 1.2rem;
}

#form {
    height: 300px;
    padding: var(--section-padding);

    background-color: white;
    box-shadow: 0 0 20px 0 rgb(191, 191, 191);
}

#callToAction {
    height: calc(100% - 500px);
    padding: var(--section-padding);
}