@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Light.ttf);
    font-weight: light;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: rgb(0, 0, 30);
    font-family: Roboto;
}

input, button, textarea, select {
    font: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

:root {
    --padding: clamp(8px, 2rem, 24px);
    --background-color: rgb(210, 235, 232);
}

  body {
    display: flex;
}

#sidePanel {
    width: 30%;
    height: 100vh;

    position: relative;

    background-image: url(./images/sidePanelBoat.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sidePanel::after {
    content: "Photo by Mudassir Ali";
    color: white;
    position: absolute;
    padding: var(--padding);
    bottom: 0;
    right: 0;
}

#main {
    --section-padding: var(--padding) var(--padding) var(--padding) calc(2 * var(--padding));

    width: 70%;
    background-color: var(--background-color);
}

#formDescription {
    height: 200px;
    padding: var(--section-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#formDescription > h1 {
    font-size: 3rem;
    font-weight: bold;
}

#formDescription > p {
    font-size: 1.2rem;
}

#form {
    height: 300px;
    padding: var(--section-padding);

    background-color: white;
    box-shadow: 0 0 20px 0 rgb(191, 191, 191);
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

ul > div {
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 1rem, 24px);
}

ul {
    display: flex;
    gap: clamp(8px, 1.5rem, 40px);
    align-items: stretch;
}

#names, #contact {
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 1rem, 24px);
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

label {
    display: block;
    font-weight: light;
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
}

input, textarea {
    padding: 0.2rem;
    font-size: 1rem;
}
input:focus, textarea:focus {
    box-shadow: 0 0 10px 0 var(--background-color);
}

textarea {
    flex-grow: 1;
    resize: none;
}

#callToAction {
    height: calc(100% - 500px);
    padding: var(--section-padding);
}

button {
    background-color: rgb(21, 77, 70);
    color: white;
    padding: 1rem 4rem;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#callToAction > p, #callToAction > a {
    font-size: 1rem;
}

a:link, a:visited {
    color: rgb(21, 77, 70);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: rgb(39, 94, 88);
}